@{

    Layout = null;


}
<head>
    <link href="~/css/menuprincipal/menuprincipal.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula Virtual - Inicio</title>
    <link href="~/css/m_principal/menuprincipal.css" rel="stylesheet" />
    <link rel="stylesheet" href="styles.css">
    <!-- Biblioteca de iconos Font Awesome -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <div class="sidebar">
        <img src="recourses/logillo.jpg" alt="Logo del sitio" class="logo">
        <a href="#" class="active">Inicio</a>
        <a href="#">Cursos</a>
        <a href="#">Estudiantes</a>
        
    </div>

    <div class="main">
        <div class="header">
            <h1>Inicio</h1>

        </div>

        <div class="cards-container">
            <div class="card">

                <div class="card-title">ISB-25</div>
                <div class="card-course">INVESTIGACIÓN DE OPERACIONES</div>
                <div class="card-schedule">Lunes, Miércoles 8:00-10:00</div>
                <div class="card-program">BACH-SIS</div>
                <button>Ingresar</button>
            </div>
            <div class="card">
                <div class="card-title">MAT-30</div>
                <div class="card-course">MATEMÁTICAS DISCRETAS</div>
                <div class="card-schedule">Martes, Jueves 10:00-12:00</div>
                <div class="card-program">BACH-MAT</div>
                <button>Ingresar</button>
            </div>
            <div class="card">

                <div class="card-title">FIS-20</div>
                <div class="card-course">FÍSICA I</div>
                <div class="card-schedule">Lunes, Viernes 8:00-09:30</div>
                <div class="card-program">BACH-FIS</div>
                <button>Ingresar</button>
            </div>
            <div class="card">
                <div class="card-title">DOC-10</div>
                <div class="card-course">REDACCIÓN</div>
                <div class="card-schedule">Martes 8:00-10:00</div>
                <div class="card-program">BACH-LIT</div>
                <button>Ingresar</button>
            </div>
        </div>
    </div>
</body>